{{define "header"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Custom class for table header rotation -->
    <!-- https://css-tricks.com/rotated-table-column-headers/ -->
    <style type="text/css">
    th.rotate {
      /* Something you can count on */
      height: 140px;
      white-space: nowrap;
    }

    th.rotate > div {
      transform: rotate(315deg);
      width: 30px;
    }
    th.rotate > div > span {
      padding: 5px 10px;
    }
    </style>

    <!-- Sign in -->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="489512678547-4sjor5burp1vm674nf4qpd7erv34vdpl.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- Tag input -->
    <link rel="stylesheet" href="/static/tagmanager/tagmanager.css">
    <script src="/static/tagmanager/tagmanager.js"></script>

    <!-- Customise tag display to be lowercase -->
    <style type="text/css">

    .tm-tag {
      text-transform: lowercase;
    }
    </style>

    <script type="text/javascript">
      // Prevents people from adding spaces and other unusual elements into tags.
      function limitTagInput(selector) {
        $(selector).bind('keypress', function (event) {
            var regex = new RegExp("^[a-zA-Z0-9\-\.]+$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            if (!regex.test(key)) {
               event.preventDefault();
               return false;
            }
        });
      }
    </script>

    <!-- Sliders -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.2/bootstrap-slider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.2/css/bootstrap-slider.css">

    <!-- Set the active navigation item. -->
    <script type="text/javascript">
      $(document).ready(function () {
        $.each($('.navbar').find('li'), function() {
            $(this).toggleClass('active',
                $(this).find('a').attr('href') == window.location.pathname);
        });
      });
    </script>
  </head>
  <body>
{{end}}
